{
  "extends": "airbnb",
  "plugins": [
    "import",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "jsx-a11y/img-has-alt": [0],
    "jsx-a11y/href-no-hash": [0],
    "jsx-quotes": ["error", "prefer-single"],
    "no-confusing-arrow": [0],
  }
}
